.app {
    width: 500px;
    min-height: 400px;
    color: rgb(31, 11, 71);
    background-color: rgb(231, 243, 162);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.form > input {
    width: 200px;
    background-color: pink;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
}

.form > p > input {
    cursor: pointer;
}

.table {
    margin: 0 auto;
}